.App {
  background-color: #000000;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  text-align: left;
}

/* applies to all pages */
.main {
  animation: fadeIn 1s;
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

  from { transform : translateY(2%) }
  to   { transform : translateY(0%) }
}

.grey {
  color:#AEAEAE;
}

/* particles */
#tsparticles {
  position: absolute;
  height: calc(100vh - 80px);
}

/* navbar */
.links {
  font-size: 20px;
  transition: 0.5s all 0s ease;
}

.links:hover {
  transform: scale(1.02);
  transition: 0.5s all 0s ease;
}

.bar {
  min-height:80px;
}

.sig {
  height:12%;
  width:12%;
}

/* home section */
.home {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.name {
  font-size: 72px;
}

.signature {
  height: auto;
  width: 10%;
}

.help {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.horizontal-line {
  width: 50%;
  margin: 0 auto; /* Center the line horizontally */
  border: none;
  border-top: 2px solid white; /* Adjust thickness and color as desired */
}

.helppics {
  height: 20%;
  width: 20%;
  margin-bottom: 50px;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.method {
  flex: 1;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.method img {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

.method h3 {
  margin-bottom: 20px;
  width: 100%;
}

.method p {
  flex-grow: 1;
  margin-bottom: 50px;
}

.filled-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.7s;
  width: fit-content;
}

.filled-button:hover {
  background-color: white;
  color: black;
}

/* newsletter section */
.newsletter {
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.newsletterleft {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
  padding: 100px;
  height: 100%;
  width:50%;
}

.newsletterright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  padding: 100px;
  height: 100%;
  width:50%;
}

.dpmock {
  height:auto;
  width:70%;
  filter: drop-shadow(0 0 5px white);
}

/* resources section */
.calendly {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendlyleft {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width:100%;
  padding: 50px;
}

.calendlyright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: right;
  height: 100%;
  width:100%;
  padding:50px;
}

.calendlyimg {
  height: auto;
  width: 30%;
}

.habithandbook {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000000;
}

.hhleft {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
  height: 100%;
  width:100%;
  padding:50px;
}

.hhright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width:100%;
}

.hhimg {
  height:auto;
  width:50%;
}

.hh-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.7s;
  width:fit-content;
}

.hh-button:hover {
  background-color: black;
  color: white;
}

.discoverycall {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.discleft {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width:100%;
  padding: 50px;
}

.discright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: right;
  height: 100%;
  width:100%;
  padding:50px;
}

.discimg {
  height: auto;
  width: 30%;
}

/* dev portfolio section */
.skills {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillicons {
  border: 2px solid white;
  border-radius: 20px;
  height: 75px;
  width: 150px;
  margin-bottom:30px;
  margin-top:30px;
  padding: 7px;
  color: white;
  background-color: #000000;
  transition: 1s all 0s ease;
}

.skillicons:hover {
  background-color: white;
  border-color: #000000;
  color:#000000;
  transition: 1s all 0s ease;
}

.skillcontainer {
  text-align: center;
}

.projects {
  height: 100vh;
  width: 100%;
}

.projects h3 {
  filter: drop-shadow(0 0 10px white);
}

.projectimgs {
  height:50%;
  width:50%;
  padding-bottom: 100px;
  transition: 1s all 0s ease;
  background-color: #000000;
}

.projectimgs:hover {
  transform: scale(1.02);
  transition: 1s all 0s ease;
}

.projdesc {
  font-size: 18px;
}


/* about section */
.about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutleft {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  height: 100%;
  width:100%;
  padding:100px;
}

.aboutright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
}

.aboutimg {
  height:auto;
  width:80%;
  filter: drop-shadow(0 0 10px white);
}

.iconstyling {
  height: 20px;
  width: 20px;
  margin: 30px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  transition: 1s all 0s ease;
}

.iconstyling:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 1s all 0s ease;
  border-color: white;
  color:white;
}



