.App {
  height:calc(100vh - 80px);
  background-color: #000000;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  text-align: left;
  padding-bottom: 20px;
}

/* for all divs */
.main {
  animation: fadeIn 1s;
  height: 700px;
  width: 1200px;
  position: relative;
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }

  from { transform : translateY(2%) }
  to   { transform : translateY(0%) }
}

.grey {
  color:#AEAEAE;
}

/* tsparticles */

#tsparticles {
  position: absolute;
  height: calc(100vh - 80px);
}

/* navbar */
.links {
  font-size: 20px;
  transition: 0.5s all 0s ease;
}

.links:hover {
  transform: scale(1.02);
  transition: 0.5s all 0s ease;
}

.bar {
  min-height:80px;
}

/* home section */
.home {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 100px;
}

.name {
  font-size: 72px;
}

.desc:after {
  color: #AEAEAE;
  content: 'developer';
  animation-name: pulse;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {opacity: 0; content: "developer"}
    25% {opacity: 1; content: "developer"}
    40% {opacity: 0;}
    75% {opacity: 1; content: "student"}
    100% {opacity:0; content: "student"}
}

/* about section */
.abouttext {
  position:absolute;
  left:0;
  width: 600px;
  text-align: left;
}

.aboutcontent {
  position:absolute;
  right:0;
  width: 600px;
}  

.aboutimg {
  height:75%;
  width:75%;
}

.aboutbuttons {
  height: 30px;
  width: 100px;
  margin: 30px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #000000;
  text-decoration: none;
  transition: 0.5s all 0s ease;
}

.aboutbuttons:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 0.5s all 0s ease;
  border-color: white;
  color:white;
}

/* skills section */
.skillicons {
  border: 2px solid white;
  border-radius: 20px;
  height: 75px;
  width: 150px;
  margin-bottom:30px;
  margin-top:30px;
  padding: 7px;
  color: white;
  background-color: #000000;
  transition: 1s all 0s ease;
}

.skillicons:hover {
  background-color: white;
  border-color: #000000;
  color:#000000;
  transition: 1s all 0s ease;
}

.skillcontainer {
  text-align: center;
}

/* projects section */
.projectimgs {
  height:50%;
  width:50%;
  padding-bottom: 100px;
  transition: 1s all 0s ease;
  background-color: #000000;
}

.projectimgs:hover {
  transform: scale(1.02);
  transition: 1s all 0s ease;
}

.projdesc {
  font-size: 18px;
}


/* contact section */
.iconstyling {
  height: 20px;
  width: 20px;
  margin: 30px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  transition: 1s all 0s ease;
}

.iconstyling:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 1s all 0s ease;
  border-color: white;
  color:white;
}



